.venv
venv
.env
env

target/
dbt_packages/
logs/

.DS_Store
node_modules/
package-lock.json
.evidence/
pipeline-dashboard/sources/jaffle_shop/connection.yaml

.user.yml

.ruff_cache
__pycache__

data/
.superpowers/
pipeline-dashboard/build
.coverage